doctype html
html(lang="en-US")
  head
    meta(charset="UTF-8")
    meta(content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    title #{pageTitle}
    meta(name="description" content=pageDescription)
    meta(property="og:type" content="website")
    meta(property="og:title" content=pageTitle)
    meta(property="og:description" content=pageDescription)
    meta(property="og:url" content=pageUrl)
    meta(property="og:site_name" content=pageTitle)
    meta(property="og:image" content=`${pageUrl}/images/og.png`)
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content=pageTitle)
    meta(name="twitter:description" content=pageDescription)
    meta(name="twitter:url" content=pageUrl)
    meta(name="twitter:image:src" content=`${pageUrl}/images/og.png`)
    link(rel="icon" type="image/x-icon" href=`${pageUrl}/images/favicon.ico`)
    link(rel="icon" type="image/png" href=`${pageUrl}/images/favicon.png`)
    link(rel="apple-touch-icon" href=`${pageUrl}/images/apple-touch-icon.png`)
    link(rel="mask-icon" href=`${pageUrl}/images/logo.svg` color="#111111")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto+Mono:wght@400;600&display=swap")
    link(rel="license" href="license.txt")
    link(rel="canonical" href=pageUrl)

  body(class="no-js order-alphabetically download-type-svg")
    header(class="header")
      ul(class="header__list")
        li(class="header__list-item")
          a(class="header__list-icon" title="Main Repository" href="https://github.com/simple-icons/simple-icons")
            svg(viewBox="0 0 24 24")
              use(href="./images/sprite.svg#menu-main-repository")
        li(class="header__list-item")
          a(class="header__list-icon" title="npm" href="https://www.npmjs.com/package/simple-icons")
            svg(viewBox="0 0 24 24")
              use(href="./images/sprite.svg#menu-npm")
        li(class="header__list-item")
          a(class="header__list-icon" title="packagist" href="https://packagist.org/packages/simple-icons/simple-icons")
            svg(viewBox="0 0 24 24")
              use(href="./images/sprite.svg#menu-packagist")
        li(class="header__list-item")
          a(class="header__list-icon" title="jsDelivr (Content Delivery Network)" href="https://www.jsdelivr.com/package/npm/simple-icons")
            svg(viewBox="0 0 24 24")
              use(href="./images/sprite.svg#menu-jsdelivr")
        li(class="header__list-item")
          a(class="header__list-icon" title="UNPKG (Content Delivery Network)" href="https://unpkg.com/browse/simple-icons/")
            svg(viewBox="0 0 24 24")
              use(href="./images/sprite.svg#menu-unpkg")
        li(class="header__list-item")
          a(class="header__list-icon" title="Open Collective" href="https://opencollective.com/simple-icons")
            svg(viewBox="0 0 24 24")
              use(href="./images/sprite.svg#menu-open-collective")
        li(class="header__list-item")
          a(class="header__list-icon" title="Legal disclaimer" href="https://github.com/simple-icons/simple-icons/blob/master/DISCLAIMER.md")
            svg(viewBox="0 0 24 24")
              use(href="./images/sprite.svg#menu-legal-disclaimer")
      h1(class="header__title") Simple Icons
      p(class="header__description") #{iconCount} Free #[abbr(title="Scalable Vector Graphic") SVG] icons for popular brands

    div(class="sticky-header-shadow" aria-hidden="true")

    main(class="main")
      div(class="control")
        noscript Controls are only available when JavaScript is enabled.
        div(class="control-field search")
          label(class="control-field__title" for="search-input") Search
          div(class="search__wrapper")
            div(id="search-clear" class="hidden" aria-hidden="true") &times;
            input(
              id="search-input"
              class="control__input"
              type="search"
              placeholder="Search by brand..."
              disabled
            )
        div(class="control-field")
          label(class="control-field__title") Order
          div(class="control-field__row")
            button(id="order-alpha" class="control__button first__button" title="Sort alphabetically" disabled)
              svg(viewBox="0 0 24 24" aria-labelledby="order-alpha")
                use(href="./images/sprite.svg#order-alpha")
            button(id="order-color" class="control__button last__button" title="Sort by color" disabled)
              svg(viewBox="0 0 24 24" aria-labelledby="order-color")
                use(href="./images/sprite.svg#order-color")
            button(id="order-relevance" class="control__button hidden" title="Sort by relevance" aria-hidden="true" disabled)
              svg(viewBox="0 0 24 24" aria-labelledby="order-relevance")
                use(href="./images/sprite.svg#order-relevance")
        div(class="control-field")
          label(class="control-field__title") Mode
          div(class="control-field__row")
            button(id="color-scheme-light" class="control__button first__button" title="Light color scheme" disabled)
              svg(viewBox="0 0 24 24" aria-labelledby="color-scheme-light")
                use(href="./images/sprite.svg#color-scheme-light")
            button(id="color-scheme-dark" class="control__button" title="Dark color scheme" disabled)
              svg(viewBox="0 0 24 24" aria-labelledby="color-scheme-dark")
                use(href="./images/sprite.svg#color-scheme-dark")
            button(id="color-scheme-system" class="control__button last__button" title="System color scheme" disabled)
              svg(viewBox="0 0 24 24" aria-labelledby="color-scheme-system")
                use(href="./images/sprite.svg#color-scheme-system")
        div(class="control-field")
          label(class="control-field__title") Download
          div(class="control-field__row")
            button(id="download-pdf" class="control__button first__button control__button__download" title="download PDF" disabled)
              svg(viewBox="0 0 24 24" aria-labelledby="download-type-svg")
                use(href="./images/sprite.svg#download-type-pdf")
            button(id="download-svg" class="control__button last__button control__button__download" title="download SVG" disabled)
              svg(viewBox="0 0 24 24" aria-labelledby="download-type-svg")
                use(href="./images/sprite.svg#download-type-svg")

      ul(class="grid")
        li(class="grid-item--if-empty hidden" aria-hidden="true")
          p Icon missing? #[a(href="https://github.com/simple-icons/simple-icons/issues/new?labels=new+icon&template=icon_request.yml&title=Request%3A+") Submit a request]

        //- This script adds an extra element after itself.
        script(
          async
          id="_carbonads_js"
          src="//cdn.carbonads.com/carbon.js?serve=CKYIPK7M&placement=simpleiconsorg"
          type="text/javascript"
        )

        each icon in icons
          li(class="grid-item" style=`--order-color: ${icon.indexByColor}` data-brand=`${icon.normalizedName}`)
            div(class="grid-item__row mv-2 fg-2")
              button(class="grid-item__preview copy-button copy-svg" title=`${icon.title} SVG` disabled)
                img(src=`data:image/svg+xml;base64,${icon.base64Svg}` loading="lazy" class="icon-preview" alt=`${icon.title} icon`)
            div(class="grid-item__row")
              if icon.guidelines
                a(
                  class="grid-item__link link-button"
                  title=`${icon.title} guidelines`
                  href=icon.guidelines
                  rel="noopener"
                  target="_blank"
                ) Brand Guidelines
              if icon.license
                a(
                  class="grid-item__link link-button icon-legal"
                  title=`${icon.title} icon license`
                  href=icon.license.url
                  rel="noopener"
                  target="_blank"
                ) #{icon.license.type}
              h2(class="grid-item__title") #{icon.title}
            div(class="grid-item__footer")
              button(
                class=`grid-item__color copy-button copy-color ${icon.light ? "contrast-light" : "contrast-dark"} ${icon.superLight ? "border-light" : ""}  ${icon.superDark ? "border-dark" : ""}`
                style=`background-color: #${icon.shortHex}`
                title=`${icon.title} color`
                disabled
              ) ##{icon.hex}
              a(
                class="download-type-file grid-item__download-button grid-item__button"
                href=`./icons/${icon.slug}.svg`
                role="button"
                data-icon=`${icon.slug}`
                download
              )
                svg(height="12" width="12" viewBox="0 0 24 24" aria-labelledby="download")
                  use(href="./images/sprite.svg#download-icon")

    footer(class="footer")
      div(class="footer-description")
        p.
          A #[a(href="https://github.com/simple-icons/simple-icons/blob/develop/LICENSE.md") CC0] project maintained
          by the #[a(href="https://github.com/simple-icons/simple-icons/graphs/contributors") Simple Icons Contributors].
        p.
          Use #[a(href="https://github.com/simple-icons/simple-icons") GitHub] for requests, corrections and contributions.
        p.
          Kindly supported by your donations at #[a(href="https://opencollective.com/simple-icons") Open Collective].
      a(
        class="footer-share"
        rel="noopener"
        role="button"
        target="_blank"
        href="https://twitter.com/intent/tweet?url=https://simpleicons.org&text=Simple%20Icons%3A%20free%20SVG%20icons%20for%20popular%20brands."
      )
        svg(class="footer-share--icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
          title Twitter logo
          path(d=twitterIcon.path)
        span Share this on Twitter!
      div(class="footer-repo")
          p.
            #[a(title="website repository" href="https://github.com/simple-icons/simple-icons-website") Made with &#10084; on GitHub]
    input(id="copy-input" class="hidden" aria-hidden="true")
