doctype html
html
  head
    meta(charset="utf-8")
    meta(content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(rel="preconnect" href="https://cdn.carbonads.com")
    link(rel="preconnect" href="https://github.com")
    title Simple Icons
    meta(name="description" content=`${iconCount} Free SVG icons for popular brands.`)
    meta(property="og:type" content="website")
    meta(property="og:title" content="Simple Icons")
    meta(property="og:description" content=`${iconCount} Free SVG icons for popular brands.`)
    meta(property="og:url" content="https://simpleicons.org")
    meta(property="og:site_name" content="Simple Icons")
    meta(property="og:image" content="https://simpleicons.org/images/og.png")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content="Simple Icons")
    meta(name="twitter:description" content=`${iconCount} Free SVG icons for popular brands.`)
    meta(name="twitter:site" content="@bathtype")
    meta(name="twitter:domain" content="Simple Icons")
    meta(name="twitter:image:src" content="https://simpleicons.org/images/og.png")
    link(rel="icon" type="image/x-icon" href="https://simpleicons.org/images/favicon.ico")
    link(rel="icon" type="image/x-icon" href="https://simpleicons.org/images/favicon.ico")
    link(rel="icon" type="image/png" href="https://simpleicons.org/images/favicon.png")
    link(rel="apple-touch-icon" href="https://simpleicons.org/images/apple-touch-icon.png")
    link(rel="mask-icon" href="https://simpleicons.org/images/logo.svg" color="#111111")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto+Mono:wght@400;600&display=swap")

  body(class="no-js")
    header(class="header" role="banner")
      ul(class="header__list")
        li(class="header__list-item")
          a(href="https://github.com/simple-icons/simple-icons" rel="noopener") GitHub
        li(class="header__list-item")
          a(href="https://www.npmjs.com/package/simple-icons" rel="noopener") NPM
        li(class="header__list-item")
          a(href="https://packagist.org/packages/simple-icons/simple-icons" rel="noopener") Packagist
        li(class="header__list-item")
          a(href="https://github.com/simple-icons/simple-icons#readme" rel="noopener") About
      h1(class="header__title") Simple Icons
      p(class="header__description") #{iconCount} Free #[abbr(title="Scalable Vector Graphic") SVG] icons for popular brands

    main(class="main" role="main")
      div(class="control")
        noscript Controls are only available when JavaScript is enabled.
        div(class="control-field search")
          label(class="control-field__title" for="id-search-input") Search
          div(class="search-wrapper")
            div(id="id-search-clear" class="hidden" aria-hidden) &times;
            input(
              id="id-search-input"
              class="control__input"
              type="text"
              placeholder="Search by brand..."
              disabled
            )
        div(class="control-field")
          label(class="control-field__title") Order
          div(class="control-field__row")
            button(id="id-order-alpha" class="control__button" title="Sort alphabetically" disabled)
              svg(role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                path(d="M10.096 18.857H7.525V.429A.414.414 0 0 0 7.096 0H4.525a.414.414 0 0 0-.429.429v18.429H1.525c-.196 0-.331.089-.402.268-.072.17-.04.326.094.469l4.286 4.286c.098.079.2.119.308.119.116 0 .219-.04.308-.12l4.272-4.272a.506.506 0 0 0 .134-.321.414.414 0 0 0-.429-.43zm10.006 3.617H16.78c-.188 0-.322.009-.402.026l-.188.026V22.5l.148-.147c.133-.16.227-.276.281-.348l4.941-7.099v-1.191h-7.594v3.066h1.607v-1.54h3.107c.16 0 .295-.014.4-.04a.856.856 0 0 0 .102-.007c.039-.004.068-.007.086-.007v.04l-.146.121c-.08.08-.176.2-.281.361L13.9 22.795V24h7.82v-3.12h-1.619v1.594h.001zm1.875-13.608L18.895 0h-2.168l-3.082 8.866h-.936v1.419h3.842V8.866h-1.004l.631-1.929h3.254l.629 1.929h-1.004v1.419h3.857V8.866h-.937zm-5.358-3.402l.977-2.92c.037-.107.07-.236.102-.388s.047-.232.047-.241l.039-.268h.055c0 .036.008.125.025.268l.162.629.963 2.92h-2.37z")
            button(id="id-order-color" class="control__button" title="Sort by color" disabled)
              svg(role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                path(d="M9.219 18.857H6.648V.429A.414.414 0 0 0 6.219 0H3.648a.418.418 0 0 0-.308.121.418.418 0 0 0-.121.308v18.428H.648a.4.4 0 0 0-.402.268c-.071.17-.04.326.094.469l4.286 4.287c.098.08.2.119.308.119a.447.447 0 0 0 .308-.119l4.272-4.273a.506.506 0 0 0 .134-.32.417.417 0 0 0-.429-.431zm3-15.428h3.429A.412.412 0 0 0 16.076 3V.429A.416.416 0 0 0 15.648 0h-3.429a.414.414 0 0 0-.429.429V3a.414.414 0 0 0 .429.429zm0 6.857h6a.42.42 0 0 0 .309-.12.42.42 0 0 0 .121-.308V7.286a.418.418 0 0 0-.121-.308.417.417 0 0 0-.309-.121h-6a.414.414 0 0 0-.308.121.417.417 0 0 0-.12.308v2.572c0 .125.04.228.12.308a.42.42 0 0 0 .308.12zm0 6.857h8.572c.125 0 .229-.039.309-.119s.119-.184.119-.309v-2.572c0-.125-.039-.227-.119-.307s-.184-.121-.309-.121h-8.572a.418.418 0 0 0-.308.121.415.415 0 0 0-.12.307v2.572c0 .125.04.229.12.309.081.08.183.119.308.119zm11.451 3.55a.408.408 0 0 0-.307-.121H12.219a.416.416 0 0 0-.429.428v2.572c0 .125.04.227.121.309a.42.42 0 0 0 .308.119h11.144a.414.414 0 0 0 .307-.119.424.424 0 0 0 .121-.309V21a.416.416 0 0 0-.121-.307z")
            button(id="id-order-relevance" class="control__button hidden" title="Sort by relevance" aria-hidden disabled)
              svg(role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                path(d="M9.219 18.857H6.648V.429A.414.414 0 0 0 6.25 0H3.648a.416.416 0 0 0-.429.429v18.428H.648a.397.397 0 0 0-.402.268c-.071.17-.04.326.094.469l4.286 4.287c.098.08.2.119.308.119a.446.446 0 0 0 .308-.119l4.272-4.273a.5.5 0 0 0 .134-.318.418.418 0 0 0-.402-.432l-.027-.001zM22.971 4.984a.817.817 0 0 0 .207-.843.822.822 0 0 0-.666-.561l-2.777-.403a.366.366 0 0 1-.274-.199L18.22.459A.818.818 0 0 0 17.479 0a.816.816 0 0 0-.737.458l-1.243 2.519a.362.362 0 0 1-.273.199l-2.781.404a.816.816 0 0 0-.665.56.815.815 0 0 0 .207.843l2.012 1.96a.364.364 0 0 1 .104.322l-.475 2.769a.802.802 0 0 0 .18.667.832.832 0 0 0 1.016.201l2.486-1.307a.369.369 0 0 1 .339 0l2.485 1.307a.815.815 0 0 0 1.017-.2.811.811 0 0 0 .18-.667l-.475-2.768a.366.366 0 0 1 .104-.322l2.011-1.961zm-.005 13a.825.825 0 0 0-.457-1.405l-2.777-.404a.366.366 0 0 1-.274-.199l-1.241-2.518a.82.82 0 0 0-1.476 0l-1.242 2.518a.362.362 0 0 1-.275.199l-2.775.404a.816.816 0 0 0-.666.561.819.819 0 0 0 .207.844l2.011 1.961a.36.36 0 0 1 .104.322l-.475 2.769a.813.813 0 0 0 .328.806.82.82 0 0 0 .865.063l2.484-1.307a.367.367 0 0 1 .341 0l2.485 1.307a.822.822 0 0 0 1.193-.869l-.478-2.769a.371.371 0 0 1 .104-.322l2.014-1.961zm-2.092 5.131a.355.355 0 0 1-.145.354.356.356 0 0 1-.385.029l-2.487-1.309a.817.817 0 0 0-.767.002l-2.485 1.307a.353.353 0 0 1-.382-.029.354.354 0 0 1-.146-.354l.479-2.77a.83.83 0 0 0-.236-.729l-2.014-1.96a.35.35 0 0 1-.092-.371.36.36 0 0 1 .295-.249l2.778-.403a.815.815 0 0 0 .618-.448l1.242-2.521a.357.357 0 0 1 .326-.202c.144 0 .265.075.328.202l1.242 2.521c.117.241.35.41.617.448l2.78.403c.14.021.249.113.292.249a.35.35 0 0 1-.092.371l-2.01 1.96a.827.827 0 0 0-.235.729l.479 2.77z")
        div(class="control-field")
          label(class="control-field__title") Mode
          div(class="control-field__row")
            button(id="id-color-scheme-light" class="control__button" title="Light color scheme" disabled)
              svg(role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                path(d="M12 18c-3.309 0-6-2.691-6-6s2.691-6 6-6 6 2.691 6 6-2.691 6-6 6zm0-10c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4zm0-4a1 1 0 0 1-1-1V1a1 1 0 0 1 2 0v2a1 1 0 0 1-1 1zm0 20a1 1 0 0 1-1-1v-2a1 1 0 1 1 2 0v2a1 1 0 0 1-1 1zM5.64 6.64a.997.997 0 0 1-.707-.293l-1.42-1.42a.999.999 0 1 1 1.414-1.414l1.42 1.42A.999.999 0 0 1 5.64 6.64zm14.139 14.139a.997.997 0 0 1-.707-.293l-1.42-1.42a.999.999 0 1 1 1.414-1.414l1.42 1.42a.999.999 0 0 1-.707 1.707zM3 13H1a1 1 0 1 1 0-2h2a1 1 0 0 1 0 2zm20 0h-2a1 1 0 1 1 0-2h2a1 1 0 1 1 0 2zM4.22 20.779a.999.999 0 0 1-.707-1.707l1.42-1.42a.999.999 0 1 1 1.414 1.414l-1.42 1.42a.993.993 0 0 1-.707.293zM18.359 6.64a.999.999 0 0 1-.707-1.707l1.42-1.42a.999.999 0 1 1 1.414 1.414l-1.42 1.42a.997.997 0 0 1-.707.293z")
            button(id="id-color-scheme-dark" class="control__button" title="Dark color scheme" disabled)
              svg(role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                path(d="M12.048 21.963c-.308 0-.618-.015-.93-.043-2.66-.246-5.064-1.513-6.771-3.567s-2.512-4.651-2.266-7.311a10.004 10.004 0 0 1 9.038-9.038 1 1 0 0 1 .896 1.589 6.008 6.008 0 0 0 1.258 8.392c2.078 1.536 5.055 1.536 7.133 0a1 1 0 0 1 1.591.896 9.951 9.951 0 0 1-9.949 9.082zM9.315 4.438a8.006 8.006 0 0 0-5.244 6.787 7.954 7.954 0 0 0 1.813 5.849 7.95 7.95 0 0 0 5.417 2.854 7.95 7.95 0 0 0 8.266-5.243 8.01 8.01 0 0 1-2.729.476 7.946 7.946 0 0 1-4.755-1.565C9.174 11.443 8.145 7.68 9.315 4.438z")
            button(id="id-color-scheme-system" class="control__button" title="System color scheme" disabled)
              svg(role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                path(d="M12 4a1 1 0 0 1-1-1V1a1 1 0 0 1 2 0v2a1 1 0 0 1-1 1zM4.933 6.348a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414l-1.42-1.42a.999.999 0 1 0-1.414 1.414l1.42 1.42zM1 13h2a1 1 0 1 0 0-2H1a1 1 0 0 0 0 2zm19.486-8.072l3.221-3.221A.999.999 0 1 0 22.293.293l-3.221 3.221-1.42 1.42-2.19 2.19A5.955 5.955 0 0 0 12 6c-3.309 0-6 2.691-6 6 0 1.258.406 2.453 1.124 3.462l-2.105 2.105c-.026.021-.058.03-.083.055s-.033.056-.055.082l-1.368 1.368-.001.002-3.219 3.219a.999.999 0 1 0 1.414 1.414l3.987-3.987a10.03 10.03 0 0 0 6.332 2.262c5.103-.001 9.473-3.902 9.951-9.081a1 1 0 0 0-1.591-.896 5.96 5.96 0 0 1-7.037.06l5.717-5.716 1.42-1.421zm-.945 9.78c-1.21 3.337-4.564 5.587-8.257 5.238a8.019 8.019 0 0 1-4.165-1.651l4.802-4.802c.05.038.093.082.144.12a7.955 7.955 0 0 0 7.476 1.095zm-10.979-.684A3.968 3.968 0 0 1 8 12c0-2.206 1.794-4 4-4a3.98 3.98 0 0 1 2.025.561l-5.463 5.463z")

      ul(class="grid")
        li(class="grid-item--if-empty hidden" aria-hidden)
          p Icon missing? #[a(href="https://github.com/simple-icons/simple-icons/issues/new?template=icon_request.md" rel="noopener") Submit a request]

        //- This script adds an extra element after itself.
        script(
          async
          id="_carbonads_js"
          src="//cdn.carbonads.com/carbon.js?serve=CKYIPK7M&placement=simpleiconsorg"
          type="text/javascript"
        )

        each icon in icons
          li(class="grid-item" style=`--order-color: ${icon.indexByColor}` data-brand=`${icon.normalizedName}`)
            svg(class="grid-item__decoration" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
              use(href=`#${icon.slug}-svg`)
            h2(class="grid-item__title") #{icon.title}
            button(
              class=`grid-item__color copy-button ${icon.light ? "contrast-light" : "contrast-dark"} ${icon.superLight ? "border-light" : ""}  ${icon.superDark ? "border-dark" : ""}`
              style=`background-color: #${icon.shortHex}`
              title=`${icon.title} color`
              disabled
            ) ##{icon.hex}
            if icon.guidelines
              a(class="grid-item__guidelines link-button" title=`${icon.title} guidelines` href=icon.guidelines rel="noopner" target="_blank")
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                  path(d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6")
                  polyline(points="15 3 21 3 21 9")
                  line(x1="10" y1="14" x2="21" y2="3")
                span Brand Guidelines
            div(class="grid-item__footer")
              button(class="grid-item__preview copy-button" title=`${icon.title} SVG` disabled)
                svg(id=`${icon.slug}-svg` role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                  title #{icon.title} icon
                  path(d=icon.path)
              div(class="grid-item__downloads")
                h3 Download
                div(class="grid-item__button-row")
                  a(
                    class="grid-item__button"
                    href=`./icons/${icon.slug}.svg`
                    download
                  ) SVG
                  a(
                    class="grid-item__button"
                    href=`./icons/${icon.slug}.pdf`
                    download
                  ) PDF

    footer(class="footer" role="contentinfo")
      div(class="footer-description")
        p.
          A #[a(href="https://github.com/simple-icons/simple-icons/blob/develop/LICENSE.md" rel="noopener") CC0] project maintained
          by the #[a(href="https://github.com/simple-icons/simple-icons/graphs/contributors" rel="noopener") Simple Icons Contributors].
        p.
          Use #[a(href="https://github.com/simple-icons/simple-icons" rel="noopener") GitHub] for requests, corrections and contributions.
      a(
        class="footer-share"
        rel="noopener"
        role="button"
        target="_blank"
        href="https://twitter.com/intent/tweet?url=https://simpleicons.org&text=Simple%20Icons%3A%20free%20SVG%20icons%20for%20popular%20brands.&via=bathtype"
      )
        svg(class="footer-share--icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
          title Twitter logo
          use(href=`#twitter-svg`)
        span Share this on Twitter!

    input(id="id-copy-input" class="hidden" aria-hidden="true")
